.App {
  
}

.App form {
   margin: 10px auto;
}

.App form {
  margin: 10px 50px;
}

.App form div label {
  width: 190px;
  display: block;
  float: left;
  text-align: left;
}

.App form div input[type=text] {
  width: 100px;
}

.App form div input[type=submit] {
  width: 100px;
}

.App form div#output {
  height: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

